.button {
    border-radius: 0;
    outline      : none;
    font-size    : 22px;
    font-weight  : bold;
}

.button.btn-s3 {
    grid-column: span 3;
}

.button.btn-s2 {
    grid-column: span 2;
}
.button.btn-op {
    background-color: #f6cd61;
}